<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>356718301171-9sb3vkuav73prp4l6t0cqndhvkv9e0lj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.356718301171-9sb3vkuav73prp4l6t0cqndhvkv9e0lj</string>
	<key>API_KEY</key>
	<string>AIzaSyDbbjZHleCSW1i2-Wvicw-ybD0P7ynkaQI</string>
	<key>GCM_SENDER_ID</key>
	<string>356718301171</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.drDoximity</string>
	<key>PROJECT_ID</key>
	<string>dr-booking-4cf98</string>
	<key>STORAGE_BUCKET</key>
	<string>dr-booking-4cf98.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:356718301171:ios:1e26becf172d9a6cf24c86</string>
</dict>
</plist>